<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Learn Magic at the most revered magical school</h1>
    <br />
    <h2>Develop your Witch and Wizard Craft</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm-4 para">
    <br /><br />
    <h3>Rigorous Academics</h3>
    <hr>
    <p>There are a variety of classes taught, including both core curriculum and electives, available from third year forward. In the fifth year, students take the Ordinary Wizarding Level (O.W.L.) exams to determine whether they can achieve a score high enough to continue to N.E.W.T.-level for the class in the remaining two years. Some classes, including the core classes, may be dropped in sixth year. Specialised classes such as Alchemy become available in sixth year provided there is sufficient demand.</p>
    <hr>
  </div>

  <div class="col-12 col-sm-4 para">
    <br /><br />
    <h3>Magical Clubs</h3>
    <hr>
    <p>A large number of extracurricular clubs are available for students to persure individual interest. Some of the current clubs are: <br />
      <br />
      Astronomy <br />
      Charms <br />
      Potions <br />
      Knitting <br />
      Magical Creatures <br />
      Gobstones <br />
      Chess <br />
    </p>
    <hr>
  </div>

  <div class="col-12 col-sm-4 para">
    <br /><br />
    <h3>Sports</h3>
    <hr>
    <p>Sports are high encouranged as healthy physical activity for all students. A few of the current sports teams available are Quidditch, Dueling, and Fencing.</p>
    <hr>
  </div>
</div>