<br />

  <div class="booyah-box col-10 offset-1">
    <div class="title-box text-center">
      <h1>Staff</h1>

    <br />

      <p>
        Headmaster Dumbledore<br />
        Professor Mcgonagall<br />
        Professor Sprout<br />
        Professor Snape<br />
        Professor Filch<br />
        Professor Binns<br />
        Professor Corkrey<br />
        Professor Burbage<br />
        Professor Flitwick<br />
        Professor Lupin<br />
        Professor Slughorn<br />
        Madam Pomfrey, School Nurse<br />
        Rubeus Hagrid, Grounds Keeper<br />
      </p>
    </div>
  </div>